#header{
    text-align: left;
    background-color: orange;
    padding: 20px;
    border: solid 3px white;
    height: 50px;
}

.main{
    text-align: left;
    display:inline-block;
    border: solid 3px white;
    height: 200px;
}

#main1{
    background-color: pink;
    padding: 60px;
}

#main2{
    background-color: lightcoral;
    padding: 60px;
    width: 79%;
}

#footer{
    text-align: left;
    background-color: yellow;
    padding-bottom: 50px;
    padding-right: 50px;
    border: solid 3px white;
    height: 50px;
}

